.wordpress-org/ export-ignore
.gitignore export-ignore
.github export-ignore
README.md export-ignore
composer.lock export-ignore
/git-tag.sh export-ignore
composer.lock export-ignore
README.md export-ignore
CHANGELOG.md export-ignore
.gitattributes export-ignore
composer.json export-ignore
.distignore export-ignore